@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --cor-fundo: #000000;
    --cor-letra : #F6F6F6;
    --cor-destaque: #22D4FD;
    --color-hoer: #272727;

    --fonte-principal: "Krona One", sans-serif;
    --fonte-secundaria: "Montserrat", sans-serif;
}

*{
    text-decoration: none;
    padding: 0;
    margin: 0;
    border: 0;
}

.site{

    box-sizing: border-box;
    background-color: var(--cor-fundo);
    color: var(--cor-letra);
}

.cabecalho{
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu{
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link{
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    font-size: 1.5rem;
    color: #22D4FD;
}

/*Uso de flexbox aqui*/
.conteudo{
    padding: 5% 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.conteudo__texto{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}



.titulo_conteudo1{
    color: var(--cor-letra);
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-style: normal;
    font-size: 2.25rem;
}
.titulo_destaque{
    color: var(--cor-destaque);

}

.paragrafo_conteudo1{
    color: var(--cor-letra);
    font-family: var(--fonte-secundaria);
    font-optical-sizing: auto;
    font-weight: weight 400;
    font-style: normal;
    font-size: 1.5rem;
}

.Titulo__botoes{
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 1.5rem;
}

.botoes{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 28px;
}

.aparenteBotao{
    display: flex;
    justify-content: center;
    gap: 5px;
    border: 2px solid var(--cor-destaque);
    padding: 21.5px 0;
    width: 60%;
    text-align: center;
    color: #f6f6f6;
    border-radius: 8px;
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    font-weight: 600;
}

.aparenteBotao:hover{
    background-color: #272727;
}

.image_dev{
    width: 50%;
}

.rodape{
    color: var(--cor-fundo);
    background-color: var(--cor-destaque);
    padding: 24px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 1.5rem;
}

@media(max-width: 1200px){
    .cabecalho{
        padding: 10% ;
    }

    .cabecalho__menu{
        justify-content: center;
    }

    .conteudo{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .conteudo__texto{
        width: auto;
    }
}